<div class="home-section ">
  <section ">
    <h1 ">
      Bienvenido al Sitio de Movies
    </h1>
    <p > Descubre el mundo del cine </p>
    <p >
      Explora géneros, conoce directores y analiza las valoraciones. 
      Este universo está lleno de creatividad, historias inolvidables y datos fascinantes.
    </p>
  </section>
</div>

