<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a href="/" class="navbar-logo">
      <img src="/images/3d-cinema-.png" alt="logo" class="logo-img">
      <span class="logo-text">Movies</span>
    </a>

    <!-- Botón hamburguesa (solo en mobile) -->
    <button id="menu-btn" class="menu-btn">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Links de navegación (desktop) -->
    <ul class="navbar-links">
      <li>
        <a href="/" class="nav-link">
          <img src="/icons/home.svg" alt="Inicio Icon" class="icon">
          Inicio
        </a>
      </li>
      <li>
        <a href="/movies/dashboard" class="nav-link">
          <img src="/icons/movie-.png" alt="Movies Icon" class="icon">
          Dashboard
        </a>
      </li>
      <li>
        <a href="/movies/add" class="nav-link">
          <img src="/icons/agregar.jpg" alt="Agregar Icon" class="icon">
          Agregar Movie
        </a>
      </li>
      <li>
        <a href="/about" class="nav-link">
          <img src="/icons/info.svg" alt="Acerca de Icon" class="icon">
          Acerca de
        </a>
      </li>
      <li>
        <a href="/contact" class="nav-link">
          <img src="/icons/contact.svg" alt="Contacto Icon" class="icon">
          Contacto
        </a>
      </li>
      <li>
        <a href="/login" class="nav-link">
          <img src="/icons/login-icon.png" alt="Contacto Icon" class="icon">
          Iniciar Sesion
        </a>
      </li>
      <li>
        <a href="/signup" class="nav-link">
          <img src="/icons/sign-up-icon.jpg" alt="Contacto Icon" class="icon">
          Registrarse
        </a>
        </li>
    </ul>
  </div>

  <!-- Menú desplegable en mobile -->
  <ul id="mobile-menu" class="mobile-menu">
    <li><a href="/" class="mobile-link">Inicio</a></li>
    <li><a href="/movies/dashboard" class="mobile-link">Dashboard</a></li>
    <li><a href="/movies/add" class="mobile-link">Agregar Movie</a></li>
    <li><a href="/about" class="mobile-link">Acerca de</a></li>
    <li><a href="/contact" class="mobile-link">Contacto</a></li>
    <li><a href="/signup" class="mobile-link">Registrarse</a></li>
    <li><a href="/login" class="mobile-link">Iniciar sesión</a></li>

  </ul>
</nav>

